{% extends "::base.html.twig" %}
{% block body %}

    <div class="content-area">

        <div class="contacts-top">
            <h1 class="contacts-title">Зворотній зв’язок</h1>
            <h2 class="contact-us">Пишіть нам</h2>
        </div>

        <div class="contacts-left">

            <ul class="contacts-list">
                {% for contact in contacts %}
                    <li>
                        <div class="list-left">{{ contact.name }}</div>
                        <div class="list-center"><img src="{{ contact.webPath }}" alt="" /></div>
                        <div class="list-right">{{ contact.contact }}</div>
                    </li>
                {% endfor %}
            </ul>

            <div class="contacts-info">

                <div class="contacts-address">
                    <div class="address-left">
                        З будь-яких питаннь<br />
                        звертайтесь за адресою
                    </div>
                    <div class="address-center"><img src="{{ asset('/bundles/assets/img/contacts_address_icon.png') }}" alt=""/></div>
                    <div class="address-right">
                        м. Черкаси,<br />
                        вул. Дашкевича 40
                    </div>
                </div>

                <div class="contacts-map">

                    <script
                            src="http://maps.googleapis.com/maps/api/js?key=AIzaSyDY0kkJiTPVd2U7aTOAwhc9ySH6oHxOIYM&sensor=false">
                    </script>

                    <script>
                        var myCenter=new google.maps.LatLng(49.440729,32.05832);

                        function initialize()
                        {
                            var mapProp = {
                                center:myCenter,
                                zoom:15,
                                mapTypeId:google.maps.MapTypeId.ROADMAP
                            };

                            var map=new google.maps.Map(document.getElementById("googleMap"),mapProp);

                            var marker=new google.maps.Marker({
                                position:myCenter
                            });

                            marker.setMap(map);
                        }

                        google.maps.event.addDomListener(window, 'load', initialize);
                    </script>

                    <div id="googleMap"></div>
                </div>

            </div>
        </div>

        <div class="contacts-right">
            <form method="post" {{ form_enctype(form) }}>
                {{ form_errors(form) }}

                {{ form_label(form.email) }}
                {{ form_errors(form.email) }}
                {{ form_widget(form.email) }}

                {{ form_label(form.theme) }}
                {{ form_errors(form.theme) }}
                {{ form_widget(form.theme) }}

                {{ form_label(form.text) }}
                {{ form_errors(form.text) }}
                {{ form_widget(form.text) }}

                {{ form_label(form.captcha) }}
                {{ form_errors(form.captcha) }}
                {{ form_widget(form.captcha) }}
                <p>Скільки буде 3 плюс 2?</p>
                <p>
                    <button type="submit">Надіслати</button>
                </p>
                {{ form_rest(form) }}
            </form>
        </div>

    </div>

{% endblock %}
