{% extends "::base.html.twig" %}
{% block body %}
    <div class="content-area">

        <h1 class="page-title">Регламент та поради</h1>

        <div class="page-text">

            <ul class="faq-list">
            {% for item in faqs %}
                <li class="question-title">
                    <a href="javascript:void(0)#q={{ loop.index }}">{{ item.title }}</a>
                </li>
            {% endfor %}
            </ul>

            <dl class="faq-text">
            {% for item in faqs %}
                <dt id="question{{ loop.index }}" class="question-text" style="display: none">
                    <span>Питання:</span>{{ item.question }}
                </dt>
                <dd id="answer{{ loop.index }}" class="answer-text" style="display: none">
                    <span>Відповідь:</span>{{ item.answer }}
                </dd>
            {% endfor %}
            </dl>

        </div>

    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $('body').find('.question-title a').click(function(){
                var linkURL = $(this).attr('href');
                var query = linkURL.split('#')[1]
                var questionID = '#question' + query.split('=')[1];
                var answerID = '#answer' + query.split('=')[1];
                $('.active').removeClass('active');
                $('.question-text').css({display: 'none'});
                $('.answer-text').css({display: 'none'});
                $(this).parent().addClass('active');
                $(questionID).css({display: 'block'});
                $(answerID).css({display: 'block'});
            });
            $('.question-title:first-child a').click();
        });
    </script>
{% endblock %}