<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Черкаська мрія{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('css/style.css') }}">
        <script type="text/javascript" src="{{ asset('js/jquery.js') }}"></script>
        {% block headJs %}
        {% endblock headJs %}
    </head>
    <body>
        <div id="system-message-container">
            <dl id="system-message">
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    <div class="flash-notice">
                        {{ flashMessage }}
                    </div>
                {% endfor %}
            </dl>
        </div>
        <div class="container">
            {% block header %}
                {% include '::header.html.twig' %}
            {% endblock %}
            {% block body %}
                {% block fos_user_content %}{% endblock %}
            {% endblock %}
            {% block footer %}
                <div class="footer">
                    <span class="copy">&copy; 2012 Черкаська мрія</span>
                    <ul class="links">
                        <li>
                            <a href="{{ path('dream_dreams') }}">Мрії</a>
                        </li>
                        <li>
                            <a href="{{ path('pages_faq') }}">Регламент та поради</a>
                        </li>
                        <li>
                            <a href="#">Підписатись на оновлення</a>
                        </li>
                        <li>
                            <a href="{{ path('pages_contacts') }}">Контакти</a>
                        </li>
                    </ul>
                    <ul class="follow">
                        <li><label>Слідкуйте за нами</label></li>
                        <li><a class="fb" href="#">facebook</a></li>
                        <li><a class="vk" href="#">vk</a></li>
                        <li><a class="ok" href="#">ok</a></li>
                        <li><a class="tw" href="#">twitter</a></li>
                    </ul>
                    <ul class="development">
                        <li>Розробка: <a href="#" class="dev"></a></li>
                        <li>Дизайн: <a href="#" class="design"></a></li>
                    </ul>
                </div>
            {% endblock %}
            {% block javascripts %}
            {% endblock %}
        </div>
    </body>
</html>
