<div id="header" class="header">
    <h1 id="logo" class="">
        <a href="{{ path('dream_homepage') }}">
            <img src="" alt="" />Chedream
        </a>
    </h1>
    <nav id="nav" class="">
        <ul id="navigation" class="header-menu">
            <li>
                <a href="{{ path('dream_dreams') }}">Мрії</a>
            </li>
            <li>
                <a href="{{ path('pages_faq') }}">FAQ</a>
            </li>
            <li>
                <a href="#">Контакти</a>
            </li>
            <li>
                <a href="#">Підписатись</a>
            </li>
            <li>
                <a class="add-dream" href="{{ path('dream_new') }}">Додати мрію</a>
            </li>
        </ul><!-- /navigation -->
    </nav><!-- /nav -->
    <div id="sign-in" class="signin-block">
        <span>Увійти через</span>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            {% set user = app.security.getToken().getUser() %}
            Вітаю, <a href="{{ path('profile_my_show') }}">{{ user.name }}</a> | notify = {{ user.notices | length }} | <a href="#">Мої мрії</a> <a href="{{ path('fos_user_security_logout') }}">Вийти</a>
        {% else %}
            <ul>
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="social-sign-in fb-signin">
                        Фб
                    </a>
                </li>
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" class="social-sign-in vk-signin">
                        Вк
                    </a>
                </li>
                <li>
                    <a href="{{ path('hwi_oauth_service_redirect', {'service': 'odnoklassniki'}) }}" class="social-sign-in ok-signin">
                        Ок
                    </a>
                </li>
            </ul>
        {% endif %}
    </div>
    <div id="search" class="search-block">
        <a href="#" id="search-form-open">Пошук</a>
        <form>
            <input type="text" placeholder="Search"/>
            <button type="submit">Знайти</button>
        </form>
    </div>
</div><!-- /header -->

