{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - {{ user.name }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .ui-tabs-anchor {
            float: left;
            padding: 5px;
        }
        .ui-tabs-nav {
            height: 30px;
        }
        #tabs {
            float: right;
            width: 850px;
        }
        #tabs div li {
            height: 100px;
            border-bottom: 1px gray dotted;
        }
    </style>
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:description" content="{{- user.aboutMe|dotdotdot(30) -}}" />
{% endblock %}
{% block body %}
    <div style="width: 250px; float: left;">
        <img src="{{ user.profilePicture | imagine_filter('dream_main_image') }}" />
        {% include 'UserBundle:Profile:contacts.html.twig' %}
    </div>
    <div>
        <table class="record_properties">
            <tr>
                <td><h1>{{ user.name }}</h1></td>
            </tr>
            <tr>
                <td>{{ user.birthday }}</td>
            </tr>
            <tr>
                <th>Про себе</th>
                <td>{{ user.aboutMe }}</td>
            </tr>
            </tbody>
        </table>
        <div id="tabs">
            {% include 'UserBundle:Profile:tabs.html.twig' %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
        jQuery('#send-email').on('click', function(e){
            e.preventDefault();
            jQuery(this).parent().find('.block').show();
        });
        jQuery('.reset-send-email').on('click', function(e){
            e.preventDefault();
            jQuery('#send-email').show(0).parent().find('.block').hide(0);
        });
        jQuery('.submit-send-email').on('click', function(e){
            e.preventDefault();
            divData = jQuery(this).parent();
            senderEmail = divData.find("#sender-email").val();
            themeEmail = divData.find("#theme-email").val();
            textEmail = divData.find("#text-email").val();
            userSlug = divData.find("#user-slug").val();
            $.ajax({
                url: "{{ url('ajax_send_email') }}",
                type: 'POST',
                data: {
                    senderEmail: senderEmail,
                    themeEmail: themeEmail,
                    textEmail: textEmail,
                    userSlug: userSlug
                },
                success: function(data){
                    if (data.success) {
                        alert(data.success);
                        divData.show(0).parent().find('.block').hide(0);
                    }
                    else if (data.error) {
                        $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>' + data.error + '</li></ul></dd>');
                    }
                },
                complete: function(){
                },
                error: function(){
                },
                beforeSend: function(request){
                }
            });
        });
    </script>
    <script>
        $(document).ready(function(){
            $( "#tabs" ).tabs();
        });
    </script>
    <script type="text/javascript">
        function dump(obj) {
            var out = "";
            if(obj && typeof(obj) == "object"){
                for (var i in obj) {
                    out += i + ": " + obj[i] + "\n";
                }
            } else {
                out = obj;
            }
            alert(out);
        }
    </script>
{% endblock %}