{% extends "::base.html.twig" %}
{% block body %}
<h1>Черкаські мрії</h1>
<ul>
    <li>
        <a href="{{ path('dream_dreams') }}">Нові</a>
    </li>
    <li>
        <a href="{{ path('dream_dreams', {'state': 'popular'}) }}">Популярні</a>
    </li>
    <li>
        <a href="{{ path('dream_dreams', {'state': 'success'}) }}">На стадії втілення</a>
    </li>
    <li>
        <a href="{{ path('dream_dreams', {'state': 'complete'}) }}">Втілені</a>
    </li>
</ul>
    {% render url('dream_show_more_dreams', { 'state': state }) %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $("#show-more").on('click', function(e) {
            e.preventDefault();
            $('#show-more-container').load('{{ path('dream_show_more_dreams', {'state': state, 'limit': limit+8, 'offser': offset+8}) }}');
        });
    </script>
{% endblock %}