{% extends "::base.html.twig" %}
{% block title %}{{ parent() }} - {{ dream.title }}{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style type="text/css">
        .ui-tabs-anchor {
            float: left;
            padding: 5px;
        }
        .ui-tabs-nav {
            height: 30px;
        }
        #tabs {
            float: right;
            width: 850px;
        }
    </style>
    <link rel="stylesheet" href="{{ asset('bundles/dream/css/progressbar/tiny-green/progressbar.css') }}" />
    <meta property="og:title" content="{{ dream.title }}" />
    <meta property="og:description" content="{{- dream.description|dotdotdot(30) -}}" />
{% endblock %}
{% block body %}
    <h1>{{ dream.title }}</h1>
    {% if dream.state == null %}
        <p>Мрія знаходиться на модерації</p>
    {% endif %}

    <div style="width: 250px; float: left;">
        <img src="{{ dream.mainImage | imagine_filter('dream_main_image') }}" />
        <ul class="gallery clearfix">
            {% for image in dream.images %}
                <li>
                    <a href="{{ image.path | imagine_filter('dream_popup') }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ image.path | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
            {% for video in dream.video %}
                <li>
                    <a href="{{ video.link }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ video.thumbnail | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
        <ul class="rating-info">
            <li class="count-contributors">Підтримали: {{ contributorsArray | length }}</li>
            <li class="count-likes">Рейтинг: <span id="count-likes"></span></li>
        </ul>
        <div id="progress-bar">
            {% render "DreamBundle:ContributorSupport:getAjaxProgressBar" with { dreamId: dream.id } %}
        </div>
        <script type="text/javascript" src="//yandex.st/share/share.js"
                charset="utf-8"></script>
        <div id="ya_share"></div>
        <input type="hidden" id="progress-bar-update-url" value="{{ path('cbsupport_ajax_update_progressbar', { 'dreamId': dream.id }) }}" />
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED")
            and dream.state == 'open'
            and app.security.token.user.id != dream.owner.id %}
            <ul id="contribute-actions">
                <li>
                    <a class="contribute" href="#">
                        <span><span>Підтримати мрію фінансово</span></span>
                    </a>
                    <div class="block">
                        <label for="financial-quantity">Сума допомоги
                            <input id="financial-quantity" class="quantity" size="6" />грн.
                        </label><br />
                        <label for="financial-hide">
                            <input type="checkbox" id="financial-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="financial">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span style="top: 0%;"><span>Допомогти обладнанням/технікою</span></span>
                    </a>
                    <div class="block">
                        {% for item in dream.equipment %}
                            {% if item.getIsDonate == false %}
                                <label>{{ item.name }}</label>
                                <select class="equipment" name="{{ item.id }}">
                                    {% for number in 0..item.quantity %}
                                        <option value="{{ number }}">{{ number }}</option>
                                    {% endfor %}
                                </select>шт. <br />
                            {% endif %}
                        {% endfor %}
                        <label for="equipment-hide">
                            <input type="checkbox" id="equipment-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="equipment">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span><span>Допомогти провести роботи</span></span>
                    </a>
                    <div class="block">
                        {% for item in dream.work %}
                            {% if item.getIsDonate == false %}
                                <input class="work" id="work-point-{{ item.id }}" type="checkbox" name="{{ item.id }}"
                                    {%  for workPoint in app.security.token.user.getWorkDonates %}
                                        {% if workPoint.getParent.getId == item.id %}
                                            checked
                                        {% endif %}
                                    {%  endfor  %}
                                />
                                <label for="work-point-{{ item.id }}">{{ item.name }}</label>
                                <br />
                            {% endif %}
                        {% endfor %}
                        <label for="work-hide">
                            <input type="checkbox" id="work-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="work">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span><span>Інша допомога</span></span>
                    </a>
                    <div class="block">
                        <label for="other-quantity">Як саме
                            <input id="other-quantity" class="quantity" size="18" />
                        </label><br />
                        <label for="other-hide">
                            <input type="checkbox" id="other-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="other">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
            </ul>
        {% elseif dream.state == 'open' and not is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <div style="clear: both">
                Щоб прийняти участь у реалізації мрії, будь-ласка, авторизуйтесь.<br />
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="social-sign-in">
                    Фб
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" class="social-sign-in">
                    Вк
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'odnoklassniki'}) }}" class="social-sign-in">
                    Ок
                </a>
            </div>
        {% endif %}
        <input type="hidden" id="dream-id" value="{{ dream.id }}" />
        <input type="hidden" id="tabs-url" value="{{ path('cbsupport_ajax_tabs', { 'dreamId': dream.id }) }}" />
    </div>
    <div>
        <table class="record_properties">
            <tbody>
            <tr>
                <th>Автор</th>
                <td>
                    <img src="{{ dream.owner.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />&nbsp-&nbsp
                    <a href="{{ path('profile_stranger_show', {'slug':dream.owner.slug}) }}">
                        {{ dream.owner.name }}
                    </a>
                    <div style="float: right">
                        <ul class="dream-action">
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.security.token.user.id == dream.owner.id %}
                                {% if dream.progressBar.finance >= 1 and dream.progressBar.equipment >= 1
                                    and dream.progressBar.work >= 1 and dream.state == 'open' %}
                                    <li><a href="#" id="fundraiser">Розпочати збір коштів</a></li>
                                {% elseif dream.state == 'success' %}
                                    <li><span style="color: green">Збір коштів розпочато</span></li>
                                {% else %}
                                    <li><span style="color: #c6c6c6">Розпочати збір коштів</span></li>
                                {% endif %}
                            {% endif %}
                            <li>
                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.security.token.user.id == dream.owner.id and dream.state == 'open' %}
                                <a id="close-dream" href="#">Закрити мрію</a>
                                <div class="block">
                                    <textarea rows="5" cols="30" name="text"></textarea><br />
                                    <a href="#" id="close-dream-submit">Відправити</a>
                                    <a href="#" id="close-dream-cancel">Відмінити</a>
                                </div>
                                {% endif %}
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <th>Опис мрії</th>
                <td>{{ dream.description }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ dream.phone }}</td>
            </tr>
            <tr>
                <th>Поточний стан мрії</th>
                <td><span id="state">{{ dream.state }}</span></td>
            </tr>
            <tr>
                <th>Теги</th>
                <td>{% for tag in dream.tags %}{{ tag.name }} {% endfor %}</td>
            </tr>
            </tbody>
        </table>
        <div id="tabs">
        </div>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('dream_homepage') }}">
                Повернутися на головну
            </a>
        </li>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") and app.security.token.user.id == dream.owner.id %}
            <li>
                <a href="{{ path('dream_edit', { 'slug': dream.slug }) }}">
                    Редагувати мрію
                </a>
            </li>
        {% endif %}
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            $("a[rel^='geekhub_dreamview']").prettyPhoto({theme:'light_square'});
        });
    </script>

    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabs').load($('#tabs-url').val(), {}, function(){
                $('#tabs').tabs();
            });
        });
    </script>
    <script>
        jQuery('a.contribute').on('click', function(e){
            e.preventDefault();
            jQuery('a.contribute').show(0).parent().find('.block').hide(0);
            jQuery(this).hide(0);
            jQuery(this).parent().find('.block').show();
        });
        jQuery('.reset-contribute').on('click', function(e){
            e.preventDefault();
            jQuery('a.contribute').show(0).parent().find('.block').hide(0);
        });
        jQuery('.submit').on('click', function(e){
            e.preventDefault();
            divData = jQuery(this).parent();
            equipmentArray = {};
            divData.find('.equipment').each(function() {
                equipmentArray[this.name] = this.value;
            });
            workArray = {};
            divData.find('.work').each(function() {
                workArray[this.name] = this.checked;
            });
            var active
            $.ajax({
                url: "{{ url('cbsupport_ajax_donate') }}",
                type: 'POST',
                data: {
                    quantity: divData.find('.quantity').val(),
                    hide: divData.find('.hide').is(':checked'),
                    equipment: equipmentArray,
                    work: workArray,
                    entity: divData.find('.entity').val(),
                    dreamId: $('#dream-id').val()
                },
                success: function(data){
                    if (data.success) {
                        alert('Дякуємо за вашу допомогу!');
                        $('#tabs').load($('#tabs-url').val(), {}, function(){
                            $('#tabs').tabs("destroy").tabs({ active: active });
                        });
                        $('#progress-bar').load($('#progress-bar-update-url').val(), {}, function(responseText, textStatus, XMLHttpRequest){
                            progressBar($(responseText).find('#finance-percent').text(), $('#progressbar-finance'));
                            progressBar($(responseText).find('#equipment-percent').text(), $('#progressbar-equipment'));
                            progressBar($(responseText).find('#work-percent').text(), $('#progressbar-work'));
                        });
                    }
                    else if (data.error) {
                        $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>' + data.error + '</li></ul></dd>');
                    }
                },
                complete: function(){
                },
                error: function(){
                },
                beforeSend: function(request){
                    active = $( "#tabs" ).tabs( "option", "active" );
                }
            });
        });
    </script>
    <script type="text/javascript">
        function dump(obj) {
            var out = "";
            if(obj && typeof(obj) == "object"){
                for (var i in obj) {
                    out += i + ": " + obj[i] + "\n";
                }
            } else {
                out = obj;
            }
            alert(out);
        }
    </script>
    <script>
        progressBar({{ dream.progressBar.finance*100 }}, $('#progressbar-finance'));
        progressBar({{ dream.progressBar.equipment*100 }}, $('#progressbar-equipment'));
        progressBar({{ dream.progressBar.work*100 }}, $('#progressbar-work'));
        function progressBar(percent, $element) {
            var progressBarWidth = percent * $element.width() / 100;
            $element.find('div').animate({ width: progressBarWidth }, 1000).html(percent + "%&nbsp;");
        }
    </script>
    <script type="text/javascript">
        // создаем блок
        var YaShareInstance = new Ya.share({
            element: 'ya_share',
            elementStyle: {
                'type': 'none',
                'quickServices': ['facebook', 'vkontakte', 'odnoklassniki', 'twitter']
            },
            l10n: 'uk'
        });
    </script>
    <script>
        $(document).ready(function(){
            $.ajax({
                url: "{{ url('dream_ajax_get_like', {'dreamId': dream.id}) }}",
                data: {
                    dreamId: $('#dream-id').val()
                },
                success: function(data){
                    if (data.error) {
                        $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>' + data.error + '</li></ul></dd>');
                        $('#count-likes').append({{ dream.like }});
                    }
                    else {
                        $('#count-likes').append(data);
                    }
                },
                complete: function(){
                },
                error: function(){
                    $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>Упс, щось пішло не так :( ' + errorReason + '</li></ul></dd>')
                    $('#count-likes').append({{ dream.like }});
                }
            });
        });
    </script>
    {# --== Set dream success ==-- #}
    <script>
        jQuery('#fundraiser').on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: "{{ url('notify_ajax_set_dream_success', {'dreamId': dream.id }) }}",
                data: {
                    dreamId: $('#dream-id').val()
                },
                success: function(data){
                    if (data.error) {
                        $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>' + data.error + '</li></ul></dd>');
                    }
                    else {
                        $('#system-message').append('<dt class="success">Мрію буде переведено в статус збору коштів після перевірки адміністратором</dt><dd class="success message"><ul><li></li></ul></dd>');
                    }
                },
                complete: function(){
                },
                error: function(){
                    $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>Упс, щось пішло не так :( </li></ul></dd>')
                }
            });
        });
    </script>
    {# --== Close dream ==-- #}
    <script>
        jQuery('#close-dream').on('click', function(e){
            e.preventDefault();
            jQuery(this).parent().find('.block').show();
        });
        jQuery('#close-dream-cancel').on('click', function(e){
            e.preventDefault();
            jQuery(this).parent().hide();
        });
        jQuery('#close-dream-submit').on('click', function(e){
            e.preventDefault();
            $.ajax({
                url: "{{ url('notify_ajax_close_dream') }}",
                type: 'POST',
                data: {
                    dreamId: $('#dream-id').val(),
                    reason:  $(this).parent().find('textarea').val()
                },
                success: function(data){
                    if (data.error) {
                        $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>' + data.error + '</li></ul></dd>');
                    }
                    else {
                        $('#system-message').append('<dt class="success">Мрію буде закрито після перевірки адміністратором</dt><dd class="success message"><ul><li></li></ul></dd>');
                    }
                },
                complete: function(){
                },
                error: function(){
                    $('#system-message').append('<dt class="error">Ошибка</dt><dd class="error message"><ul><li>Упс, щось пішло не так :( </li></ul></dd>')
                }
            });
        });
    </script>
{% endblock %}