{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    .ui-tabs-anchor {
        float: left;
        padding: 5px;
    }
    .ui-tabs-nav {
        height: 30px;
    }
    #tabs {
        float: right;
        width: 850px;
    }
</style>
{% endblock %}
{% block body %}
    <h1>{{ dream.title }}</h1>

    <div style="width: 250px; float: left;">
        <img src="{{ dream.mainImage | imagine_filter('dream_main_image') }}" />
        <ul class="gallery clearfix">
            {% for image in dream.images %}
                <li>
                    <a href="{{app.request.baseurl ~ '/' ~ image.path }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ image.path | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
            {% for video in dream.video %}
                <li>
                    <a href="{{ video.link }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ video.thumbnail | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
            <ul id="contribute-actions">
                <li>
                    <a class="contribute" href="#">
                        <span><span>Підтримати мрію фінансово</span></span>
                    </a>
                    <div class="block">
                        <label for="financial-quantity">Сума допомоги
                            <input id="financial-quantity" class="quantity" size="6" />грн.
                        </label><br />
                        <label for="financial-hide">
                            <input type="checkbox" id="financial-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="financial">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span style="top: 0%;"><span>Допомогти обладнанням/технікою</span></span>
                    </a>
                    <div class="block">
                        {% for item in dream.equipment %}
                            <label>{{ item.name }}</label>
                            <select class="equipment" name="{{ item.id }}">
                                {% for number in 0..item.quantity %}
                                    <option value="{{ number }}">{{ number }}</option>
                                {% endfor %}
                            </select>шт. <br />
                        {% endfor %}
                        <label for="equipment-hide">
                            <input type="checkbox" id="equipment-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="equipment">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span><span>Допомогти провести роботи</span></span>
                    </a>
                    <div class="block">
                        {% for item in dream.work %}
                            <label>{{ item.name }}</label>
                            <select class="work" name="{{ item.id }}">
                                {% for number in 0..item.quantity %}
                                    <option value="{{ number }}">{{ number }}</option>
                                {% endfor %}
                            </select> днів.<br />
                        {% endfor %}
                        <label for="work-hide">
                            <input type="checkbox" id="work-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="work">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
                <li>
                    <a class="contribute" href="#">
                        <span><span>Інша допомога</span></span>
                    </a>
                    <div class="block">
                        <label for="other-quantity">Як саме
                            <input id="other-quantity" class="quantity" size="18" />
                        </label><br />
                        <label for="other-hide">
                            <input type="checkbox" id="other-hide" class="hide" /> Приховати мою допомогу
                        </label>
                        <input type="hidden" class="entity" value="other">
                        <a href="#" class="submit">Підтримати</a>
                        <a href="#" class="reset-contribute">Вихід</a>
                    </div>
                </li>
            </ul>
            <input type="hidden" id="dream-id" value="{{ dream.id }}" />
            <input type="hidden" id="tabs-url" value="{{ path('cbsupport_ajax_tabs', { 'dreamId': dream.id }) }}" />
        {% else %}
            <div style="clear: both">
                Щоб прийняти участь у реалізації мрії, будь-ласка, авторизуйтесь.<br />
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'facebook'}) }}" class="social-sign-in">
                    Фб
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'vkontakte'}) }}" class="social-sign-in">
                    Вк
                </a>
                <a href="{{ path('hwi_oauth_service_redirect', {'service': 'odnoklassniki'}) }}" class="social-sign-in">
                    Ок
                </a>
            </div>
        {% endif %}
    </div>
    <div>
        <table class="record_properties">
            <tbody>
            <tr>
                <th>Автор</th>
                <td>
                    <img src="{{ dream.owner.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />&nbsp
                    - {{ dream.owner.name }}
                </td>
            </tr>
            <tr>
                <th>Опис мрії</th>
                <td>{{ dream.description }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ dream.phone }}</td>
            </tr>
            <tr>
                <th>Поточний стан мрії</th>
                <td>{{ dream.state }}</td>
            </tr>
            <tr>
                <th>Теги</th>
                <td>{% for tag in dream.tags %}{{ tag.name }} {% endfor %}</td>
            </tr>
            </tbody>
        </table>
        <div id="tabs">
        </div>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('dream_homepage') }}">
                Повернутися на головну
            </a>
        </li>
        <li>
            <a href="{{ path('dream_edit', { 'slug': dream.slug }) }}">
                Редагувати мрію
            </a>
        </li>
        <li>
            <form action="{{ path('dream_delete', { 'slug': dream.slug }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Видалити мрію</button>
            </form>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" charset="utf-8">

        $(document).ready(function(){
            $("a[rel^='geekhub_dreamview']").prettyPhoto({theme:'light_square'});
        });
    </script>

    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
        $(document).ready(function(){
            $('#tabs').load($('#tabs-url').val(), {}, function(){
                $('#tabs').tabs();
            });
        });
    </script>
    <script>
        jQuery('a.contribute').on('click', function(e){
            e.preventDefault();
            jQuery('a.contribute').show(0).parent().find('.block').hide(0);
            jQuery(this).hide(0);
            jQuery(this).parent().find('.block').show();
        });
        jQuery('.reset-contribute').on('click', function(e){
            jQuery('a.contribute').show(0).parent().find('.block').hide(0);
        });
        jQuery('.submit').on('click', function(e){
            e.preventDefault();
            divData = jQuery(this).parent();
            equipmentArray = {};
            divData.find('.equipment').each(function() {
                equipmentArray[this.name] = this.value;
            });
            workArray = {};
            divData.find('.work').each(function() {
                workArray[this.name] = this.value;
            });
            $.ajax({
                url: "{{ url('cbsupport_ajax_donate') }}",
                type: 'POST',
                data: {
                    quantity: divData.find('.quantity').val(),
                    hide: divData.find('.hide').is(':checked'),
                    equipment: equipmentArray,
                    work: workArray,
                    entity: divData.find('.entity').val(),
                    dreamId: $('#dream-id').val()
                },
                success: function(data){
                    alert('Дякуємо за ваш внесок!');
                    $('#tabs').load($('#tabs-url').val(), {}, function(){
                        $('#tabs').tabs("destroy").tabs();
                    });
                },
                complete: function(){
                },
                error: function(){
                },
                beforeSend: function(request){
                }
            });
        });
    </script>
    <script type="text/javascript">
        function dump(obj) {
            var out = "";
            if(obj && typeof(obj) == "object"){
                for (var i in obj) {
                    out += i + ": " + obj[i] + "\n";
                }
            } else {
                out = obj;
            }
            alert(out);
        }
    </script>
{% endblock %}