{% extends "::base.html.twig" %}
{% block stylesheets %}
    {{ parent() }}
<style type="text/css">
    .ui-tabs-anchor {
        float: left;
        padding: 5px;
    }
    .ui-tabs-nav {
        height: 30px;
    }
    #tabs {
        float: right;
        width: 850px;
    }
</style>
{% endblock %}
{% block body %}
    <h1>{{ dream.title }}</h1>

    <div style="width: 250px; float: left;">
        <img src="{{ dream.mainImage | imagine_filter('dream_main_image') }}" />
        <ul class="gallery clearfix">
            {% for image in dream.images %}
                <li>
                    <a href="{{app.request.baseurl ~ '/' ~ image.path }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ image.path | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
            {% for video in dream.video %}
                <li>
                    <a href="{{ video.link }}"
                       rel="geekhub_dreamview[gallery1]">
                        <img src="{{ video.thumbnail | imagine_filter('dream_create_image_thumbnail') }}" width="50" height="50" alt="{{ dream.title }} {{ loop.index }}" />
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    <div>
        <table class="record_properties">
            <tbody>
            <tr>
                <th>Автор</th>
                <td>
                    <img src="{{ dream.owner.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />&nbsp
                    - {{ dream.owner.name }}
                </td>
            </tr>
            <tr>
                <th>Опис мрії</th>
                <td>{{ dream.description }}</td>
            </tr>
            <tr>
                <th>Телефон</th>
                <td>{{ dream.phone }}</td>
            </tr>
            <tr>
                <th>Поточний стан мрії</th>
                <td>{{ dream.state }}</td>
            </tr>
            <tr>
                <th>Теги</th>
                <td>{% for tag in dream.tags %}{{ tag.name }} {% endfor %}</td>
            </tr>
            </tbody>
        </table>
        <div id="tabs">
            <ul>
                <li><a href="#tabs-1">Кошторис мрії</a></li>
                <li><a href="#tabs-2">Учасники ({{ contributorsArray | length }})</a></li>
                <li><a href="#tabs-3">Коментарі та пропозиції</a></li>
            </ul>
            <div id="tabs-1">
                <h4>Грошові витрати</h4>
                <ul>
                    {% for item in dream.financial %}
                        <li>{{ item.name }} - {{ item.quantity }} грн.</li>
                    {% endfor %}
                </ul>
                <h4>Інструменти та обладнання</h4>
                <ul>
                    {% for item in dream.equipment %}
                        <li>{{ item.name }} - {{ item.quantity }} шт.</li>
                    {% endfor %}
                </ul>
                <h4>Роботи та ресурси</h4>
                <ul>
                    {% for item in dream.work %}
                        <li>{{ item.name }} - {{ item.quantity }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tabs-2">
                <ul>
                    {% for contribution in contributorsArray %}
                        <li style="height: 50px">
                            <img src="{{ contribution.user.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />&nbsp
                            {{ contribution.user.name }}&nbsp
                            обіцяє
                            {% for item in contribution.contributions %}
                                {% if item.contributeItem == 'Work' %}
                                    {{ item.contributeItem.name }} - {{ item.contributeItem.quantity }} днів
                                {% elseif item.contributeItem == 'Equipment' %}
                                    {{ item.contributeItem.name }} - {{ item.contributeItem.quantity }} шт
                                {% elseif item.contributeItem == 'Financial' %}
                                    {{ item.contributeItem.quantity }} грн
                                {% endif %}
                                {% if not loop.last %}
                                    ,&nbsp
                                {% endif %}
                            {% endfor %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div id="tabs-3">
                <p>Тут будуть коментарі від Дискас!</p>
            </div>
        </div>
    </div>

    <ul class="record_actions">
        <li>
            <a href="{{ path('dream_homepage') }}">
                Повернутися на головну
            </a>
        </li>
        <li>
            <a href="{{ path('dream_edit', { 'slug': dream.slug }) }}">
                Редагувати мрію
            </a>
        </li>
        <li>
            <form action="{{ path('dream_delete', { 'slug': dream.slug }) }}" method="post">
                {{ form_widget(delete_form) }}
                <button type="submit">Видалити мрію</button>
            </form>
        </li>
    </ul>
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" charset="utf-8">
        $(document).ready(function(){
            $("a[rel^='geekhub_dreamview']").prettyPhoto({theme:'light_square'});
        });
    </script>

    <script src="http://code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script>
        $(function() {
            $( "#tabs" ).tabs();
        });
    </script>

{% endblock %}