<ul>
    <li><a href="#tabs-1">Кошторис мрії</a></li>
    <li><a href="#tabs-2">Учасники ({{ contributorsArray | length }})</a></li>
    <li><a href="#tabs-3">Коментарі та пропозиції</a></li>
</ul>
<div id="tabs-1">
    <h4>Грошові витрати</h4>
    <ul>
        {% for item in dream.financial %}
            {% if item.isDonate == false %}
                <li>{{ item.name }} - {{ item.quantity }} грн.</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h4>Інструменти та обладнання</h4>
    <ul>
        {% for item in dream.equipment %}
            {% if item.isDonate == false %}
                <li>{{ item.name }} - {{ item.quantity }} шт.</li>
            {% endif %}
        {% endfor %}
    </ul>
    <h4>Роботи та ресурси</h4>
    <ul>
        {% for item in dream.work %}
            {% if item.isDonate == false %}
                <li>{{ item.name }} - {{ item.quantity }} чол.</li>
            {% endif %}
        {% endfor %}
    </ul>
</div>
<div id="tabs-2">
    <ul>
        {% for contribution in contributorsArray %}
        <li style="height: 50px">
            <img src="{{ contribution.user.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />&nbsp
            <a href="{{ path('profile_stranger_show', {'slug':contribution.user.slug}) }}">
                {{- contribution.user.name -}}
            </a>
            &nbspобіцяє
            {% for item in contribution.contributions %}
                    {% if item == 'Work' %}
                        {% if item.hide == true %}
                            <span class="hidden-item">{{ item.name }}</span>
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    {% elseif item == 'Equipment' %}
                        {% if item.hide == true %}
                            <span class="hidden-item">{{ item.name }} - {{ item.quantity }} шт</span>
                        {% else %}
                            {{ item.name }} - {{ item.quantity }} шт
                        {% endif %}
                    {% elseif item == 'Financial' %}
                        {% if item.hide == true %}
                            <span class="hidden-item">{{ item.quantity }} грн</span>
                        {% else %}
                            {{ item.quantity }} грн
                        {% endif %}
                    {% elseif item == 'OtherDonate' %}
                        {% if item.hide == true %}
                            <span class="hidden-item">{{ item.name }}</span>
                        {% else %}
                            {{ item.name }}
                        {% endif %}
                    {% endif %}
                    {% if not loop.last %}
                        ,&nbsp
                    {% endif %}
            {% endfor %}
        </li>
        {% endfor %}
    </ul>
</div>
<div id="tabs-3">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'spolischook'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Будь-ласка увімкніть javascript в свому браузері щоб <a href="http://disqus.com/?ref_noscript">мати змогу коментувати з Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">коментарі від <span class="logo-disqus">Disqus</span></a>
</div>
