{% extends "::base.html.twig" %}
{% block body %}
    <div class="slider-wrapper"><span class="slider-bottom-shadow"></span>
        <ul class="splash left">
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
        </ul>
        <ul class="splash right">
            <li><a href="#">Some text</a></li>
            <li><a href="#">Some text</a></li>
        </ul>
        <div class="slider"></div>
    </div>


    <ul class="dreams-list">
        {% for dream in topDreams %}
            <li>
                <a class="dream-title" href="{{ path('dream_show', { 'slug': dream.slug }) }}">
                    {{ dream.title }}
                </a>
                <a href="#" class="add-to-chosen">Додати до обраного.</a>
                <div class="dream-creator">
                    <img src="{{ dream.owner.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />  {{ dream.owner.name }}
                </div>
                <div class="dream-photo"><span></span>
                    <img src="{{ dream.mainImage | imagine_filter('dream_main_image') }}" class="dream-main-image" />
                </div>
                <ul class="support">
                    <li>
                        <span>0</span>&nbsp;Підтримали
                    </li>
                    <li>
                        Рейтинг&nbsp;<span>{{ dream.like }}</span>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

    <ul class="dreams-list">
        {% for dream in newDreams %}
            <li>
                <a class="dream-title" href="{{ path('dream_show', { 'slug': dream.slug }) }}">
                    {{ dream.title }}
                </a>
                <a href="#" class="add-to-chosen">Додати до обраного.</a>
                <div class="dream-creator">
                    <img src="{{ dream.owner.profilePicture | imagine_filter('profile_avatar_ico') }}" style="float: left" />  {{ dream.owner.name }}
                </div>
                <div class="dream-photo"><span></span>
                    <img src="{{ dream.mainImage | imagine_filter('dream_main_image') }}" class="dream-main-image" />
                </div>
                <ul class="support">
                    <li>
                        <span>0</span>&nbsp;Підтримали
                    </li>
                    <li>
                        Рейтинг&nbsp;<span>{{ dream.like }}</span>
                    </li>
                </ul>
            </li>
        {% endfor %}
    </ul>

{% endblock %}

